<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
 
  <li class="nav-item" *ngIf="!this.flatConfig['box-layout']">
    <div class="mega-menu dropdown" ngbDropdown placement="auto">
      <a class="h-drop" href="javascript:" ngbDropdownToggle>
        Activity
      </a>
      <div class="profile-notification" ngbDropdownMenu>
        <div class="row no-gutters">
       
          <div class="col">
            <h6 class="mega-title">Application</h6>
            <ul class="pro-body">
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> Email</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-clipboard"></i> Task</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-check-square"></i> To-Do</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-image"></i> Gallery</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-help-circle"></i> Helpdesk</a></li>
            </ul>
          </div>
          <div class="col">
            <h6 class="mega-title">Extension</h6>
            <ul class="pro-body">
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-file-plus"></i> Editor</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-file-minus"></i> Invoice</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-calendar"></i> Full calendar</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-upload-cloud"></i> File upload</a></li>
              <li><a href="javascript:" class="dropdown-item"><i class="feather icon-scissors"></i> Image cropper</a></li>
            </ul>
          </div>
          <div class="col">
           
          </div>
          <div class="col">
           
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
